// Colors
$White: #fdfffc;
$dark-grey: #1f1f1f;
//Fonts
$Space-font: Space Grotesk, sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
