.backdrop-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.overlay-gradient {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
}

.chosen-movie {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.5em;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.movie-info {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 35vw;
  text-align: left;
}

.numeric-info {
  display: flex;
  justify-content: space-around;
}

.genre,
.monetary-info {
  display: flex;
  justify-content: space-around;
}

.video-frame {
}
