@import "variables";

.backdrop-img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.overlay-gradient {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
}

.chosen-movie {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.1em;
  color: $White;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.back-button-icon {
  margin-left: -10px;
  height: 55px;
  width: 55px;
  filter: brightness(0) invert(1);
  &:hover {
    transform: scale(1.15);
    cursor: pointer;
  }
  &:active {
    transform: scale(0.9);
  }
}

.movie-info {
  height: 85vh;
  padding: 3%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 35vw;
  text-align: left;
  overflow: scroll;
}

.rating-star {
  height: 1.25em;
  width: 1.25em;
  filter: invert(91%) sepia(22%) saturate(6764%) hue-rotate(5deg)
    brightness(101%) contrast(104%);
}

.runtime-reel {
  padding-top: 0.5em;
  height: 2em;
  width: 2em;
  filter: invert(71%) sepia(48%) saturate(3097%) hue-rotate(67deg)
    brightness(91%) contrast(83%);
}

.numeric-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.genre,
.monetary-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.video-container {
  border-style: none;
}

.rating-text,
.runtime-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.rating-text,
.runtime-text,
.release-date-text-chosen,
.overview-text,
.budget-text,
.revenue-text {
  margin: 0;
}

@media only screen and (max-width: 650px) {
  .backdrop-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
  }

  .movie-info {
    height: 100vh;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 90vw;
    text-align: left;
    overflow: scroll;
  }

  .video-frame {
    width: 90%;
    margin-bottom: 2em;
  }

  .video-container {
    border: 0;
    width: 100%;
    height: 350px;
    overflow: scroll;
  }
}

@media only screen and (max-width: 400px) {
  .backdrop-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
  }

  .movie-info {
    height: 100vh;
    padding: 15%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 85vw;
    text-align: left;
    overflow: scroll;
  }

  .video-frame {
    width: 85%;
    margin-bottom: 2em;
  }

  .video-container {
    border: 0;
    width: 100%;
    height: auto;
    overflow: scroll;
  }

  .numeric-info {
    height: 50%;
    width: 100%;
  }

  .genre,
  .monetary-info {
    height: 50%;
    width: 100%;
  }
}
