.movie-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Space Grotesk", sans-serif;
  height: 35vh;
  width: 15vw;
  margin: 7vh 5vw;
  color: #ffffff;
  background-color: #1f1f1f;
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

.poster-img {
  padding: 0.5em;
  max-height: 30vh;
  max-width: 25vw;
  border-radius: 5%;
  &:hover {
    transform: scale(1.05);
    opacity: 65%;
    box-shadow: black;
  }
  &:active {
    transform: scale(1);
  }
}

.rating-star-movie-card {
  padding-top: 0.2em;
  height: 1.25em;
  width: 1.25em;
  filter: invert(91%) sepia(22%) saturate(6764%) hue-rotate(5deg)
    brightness(101%) contrast(104%);
}

.average-rating-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.movie-card-title,
.average-rating-text,
.release-date-text {
  margin: 1.25%;
  &:hover {
    transform: scale(1.25);
  }
}
