@import "variables";

.movies-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: $dark-grey;
}

@media only screen and (max-width: 650px) {
  .movies-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    background-color: $dark-grey;
  }
}
