.nav-bar {
  font-family: "Space Grotesk", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 7em 0 2em;
}

.nav-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5%;
  width: 100%;
  border-style: solid #fdfffc;
  border-width: 1px;
}

.nav-bottom {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
}

.filter-inputs {
  background-color: none;
  color: whitesmoke;
}

.logo {
  margin: 0.75em;
  transition: transform 0.3s, cursor 0.3s;
  &:hover {
    transform: scale(1.15);
    cursor: pointer;
  }
}

@mixin button-styling {
  background: #fdfffc;
  color: #000000;
  border-radius: 25em;
  padding: 0.75em 3em;
  margin: 0 1em;
  transition: color 1s, cursor 0.3s, background 0.3s;
  &:hover {
    background: #1f1f1f;
    color: #fdfffc;
    padding: 0.75em 3em;
    cursor: pointer;
  }
}

@mixin input-styling {
  background: none;
  border-bottom-style: solid #fdfffc;
  color: #fdfffc;
}

.search-button {
  @include button-styling;
}

.sort-button {
  @include button-styling;
}

.watch-list-button {
  @include button-styling;
}

.search-input {
  padding: 0.5em;
  width: 25em;
  margin: 0 2em;
  color: #fdfffc;
  @include input-styling;
  &::placeholder {
    color: #fdfffc;
  }
}
