.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1f1f1f;
  border-bottom: solid white;
  border-top-style: solid white;
  border-top-width: 0.5px;
  border-bottom-width: 0.5px;
}

.filter-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  margin: 0.75em;
}
